.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*body {
  margin: 0;
  padding: 0;
}*/

body {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
}

.content-container {
  flex: 1; 
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding:20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.center-h1 {
  text-align: center;
 
}


.rainbow-text {
  background-image: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33ff00, #0066ff, #9900ff, #ff00cc);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 10s linear infinite;
}




.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  padding-bottom: 120px;
}

li {
  list-style-type: none;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

img {
  width: 400px;
}

p {
  max-width: 400px;
  font-size: 12px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
 
}

.icon-links {
  display: flex;
  gap: 10px;
  padding: 0 30px;
}
.footer h3 {
  margin-right: 10px;
}



@media (max-width: 768px) {
 a {
  font-size: 1rem; 
}
  ul {
    grid-template-columns: 1fr; 
  }
   .auth {
    flex-direction: column;
  }

  .auth-container {
    width: 100%; 
  }
}